@font-face { font-family: Capsuula; src: url(../links/Capsuula.ttf); font-weight: bold;}

body{margin: 0; font-family: Capsuula; background-color: bisque;}



/*---------------- Navigation bar ----------------*/

.navtitle {
    display: block;
    padding: .4em;
    font-size: 2.3em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav01 ul { list-style: none; background-color: orange;  overflow: hidden; }

.nav01 li { float: left; }

.nav01 .button {
    display: block;
    padding: .75em;
    font-size: 1.75em;
    color: white;
    
    text-decoration: none;
}

.button:hover {
    background-color: rgb(202, 131, 0);
    transform: scale(1.1);
    transition: .2s;
}

.backbutton {
    font-size: 60px;
    text-align: center;
    color: orange;
    border: 2px solid orange; 
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 20px; 
    background-color: white;
}

.backbutton:hover {
    transform: scale(1.025);
    transition: transform .2s;
}

/*---------------- Body - Home page----------------*/

.slideshows {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;    
}

.slideshows-content {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: imageslideshows 41s infinite;
}

.slideshows-content img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    animation: imagezoom 41s infinite;
}

.slideshows-content:nth-child(1),
.slideshows-content:nth-child(1) img {
    animation-delay: 0s;
}
.slideshows-content:nth-child(2),
.slideshows-content:nth-child(2) img {
    animation-delay: 10s;
}
.slideshows-content:nth-child(3),
.slideshows-content:nth-child(3) img {
    animation-delay: 20s;
}
.slideshows-content:nth-child(4),
.slideshows-content:nth-child(4) img {
    animation-delay: 30s;
}

.slideshows-context {
    max-width: 50%;
    position: absolute;
    top: 6%;
    left: 0;
    transform: tranlateY(-40%);
    background-color: rgb(202, 131, 0,.5);
    padding: 1rem 4rem;
}

.slideshows-context h4{
    font-size: 3.5rem;
    font-family: Capsuula;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slideshows-context p{
    font-size: 1.5rem;
    font-family: Capsuula;
    letter-spacing: 1px;
}

@keyframes imageslideshows { 
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@keyframes imagezoom {
    100%{
        transform: scale(1.1);
    }
}

@media screen and (max-width:1000px) {
    .slideshows-context {
        max-width: 70%;
        padding: .5rem 2rem;
    }
    .slideshows-context h4{
        font-size: 3rem;
    }
}

@media screen and (max-width:767px) {
    .slideshows-context {
        max-width: 100%;
        padding: .3rem 1rem;
        top: initial;
        transform: initial;
        bottom: 0;
    }
    .slideshows-context h4{
        font-size: 3rem;
    }
    .slideshows-context p{
        font-size: 1.2rem;
    }
}
/*---------------- Body - Recipes page----------------*/

.sec01 ul, .sec02 ul { list-style: none; float: left; }

.sec01 li, .sec02 li { margin: 1em; }

.sec01 a, .sec02 a {
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-decoration: none;
    display: block;
    padding: 2em;
    width: 20em;
    border: 1px solid orange;
    border-radius: 20px;
    text-shadow: 1px 1px rgb(255, 166, 0);
    background-color: orange;
}

.cat01 { background-image: url(../images/categories/01.png); background-size: cover;}
.cat02 { background-image: url(../images/categories/02.png); background-size: cover;}
.cat03 { background-image: url(../images/categories/03.png); background-size: cover;}
.cat04 { background-image: url(../images/categories/04.png); background-size: cover;}
.cat05 { background-image: url(../images/categories/05.png); background-size: cover;}
.cat06 { background-image: url(../images/categories/06.png); background-size: cover;}

.cat:hover {
    transform: scale(1.025);
    transition: transform .2s;
    filter:brightness(.9)
}

/*---------------- Body - Categories > Recipes ----------------*/

.recsec01 ul , .recsec02 ul,.recsec03 ul {
    list-style: none;
    float: left;
}

.recsec01 li, .recsec02 li, .recsec03 li {
    margin-top: 1em;
    
}

.recsec01 a, .recsec02 a, .recsec03 a {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    width: 8em;
    height: 3em;
    border: 1px solid orange;
    border-radius: 20px;
    text-shadow: 1px 1px rgb(255, 166, 0);
    background-color: orange;
}

.rec0101 { background-image: url(../images/categories/cat01/01.png); background-size: cover;}
.rec0102 { background-image: url(../images/categories/cat01/02.png); background-size: cover;}
.rec0103 { background-image: url(../images/categories/cat01/03.png); background-size: cover;}
.rec0104 { background-image: url(../images/categories/cat01/04.png); background-size: cover;}
.rec0105 { background-image: url(../images/categories/cat01/05.png); background-size: cover;}
.rec0106 { background-image: url(../images/categories/cat01/06.png); background-size: cover;}

.rec0201 { background-image: url(../images/categories/cat02/01.png); background-size: cover;}
.rec0202 { background-image: url(../images/categories/cat02/02.png); background-size: cover;}
.rec0203 { background-image: url(../images/categories/cat02/03.png); background-size: cover;}
.rec0204 { background-image: url(../images/categories/cat02/04.png); background-size: cover;}
.rec0205 { background-image: url(../images/categories/cat02/05.png); background-size: cover;}
.rec0206 { background-image: url(../images/categories/cat02/06.png); background-size: cover;}

.rec0301 { background-image: url(../images/categories/cat03/01.png); background-size: cover;}
.rec0302 { background-image: url(../images/categories/cat03/02.png); background-size: cover;}
.rec0303 { background-image: url(../images/categories/cat03/03.png); background-size: cover;}
.rec0304 { background-image: url(../images/categories/cat03/04.png); background-size: cover;}
.rec0305 { background-image: url(../images/categories/cat03/05.png); background-size: cover;}
.rec0306 { background-image: url(../images/categories/cat03/06.png); background-size: cover;}

.rec0401 { background-image: url(../images/categories/cat04/01.png); background-size: cover;}
.rec0402 { background-image: url(../images/categories/cat04/02.png); background-size: cover;}
.rec0403 { background-image: url(../images/categories/cat04/03.png); background-size: cover;}
.rec0404 { background-image: url(../images/categories/cat04/04.png); background-size: cover;}
.rec0405 { background-image: url(../images/categories/cat04/05.png); background-size: cover;}
.rec0406 { background-image: url(../images/categories/cat04/06.png); background-size: cover;}

.rec0501 { background-image: url(../images/categories/cat05/01.png); background-size: cover;}
.rec0502 { background-image: url(../images/categories/cat05/02.png); background-size: cover;}
.rec0503 { background-image: url(../images/categories/cat05/03.png); background-size: cover;}
.rec0504 { background-image: url(../images/categories/cat05/04.png); background-size: cover;}
.rec0505 { background-image: url(../images/categories/cat05/05.png); background-size: cover;}
.rec0506 { background-image: url(../images/categories/cat05/06.png); background-size: cover;}

.rec0601 { background-image: url(../images/categories/cat06/01.png); background-size: cover;}
.rec0602 { background-image: url(../images/categories/cat06/02.png); background-size: cover;}
.rec0603 { background-image: url(../images/categories/cat06/03.png); background-size: cover;}
.rec0604 { background-image: url(../images/categories/cat06/04.png); background-size: cover;}
.rec0605 { background-image: url(../images/categories/cat06/05.png); background-size: cover;}
.rec0606 { background-image: url(../images/categories/cat06/06.png); background-size: cover;}

/*---------------- Body - Category 01 > Recipe Pages ----------------*/

.dish {
    font-size: 80px; text-align: center; 
    background-color: rgb(185, 164, 137);
    margin: -20 0 100 0 ;
    padding: 2em;
}

.ing p {
    font-size: x-large;
    text-align: center;
    position: relative;
    right: 300px;
}
